header {
  z-index: 2000;
}

.checkout fieldset {
  border: none;
  padding: 0;
  padding: 10px 0;
  position: relative;
  clear: both;
}

.checkout .number-card {
  margin-top: 20px;
}


.checkout label {
  font-size: 11px;
  text-decoration: none;
  color: black;   
  font-family: Roboto, sans-serif;
  font-weight: 700;
  letter-spacing: 0.2px;
  display: block;
  width: 400px;
  margin: -25px 0 10px;
}

.checkout input {
  width: 350px;
  padding: 1em;
  border-radius: 5em;
  background-color: #F8F8FB;
  border: none;
  margin-bottom: 20px;
}

.checkout .form {
  width: 600px;
}

.checkout .input-cart-number {
  width: 62px;
  display: inline-block;
  margin-right: 8px;
}

    
.checkout .fieldset-expiration select {
  width: 370px;
  border-radius: 5em;
  background-color: #F9F9F9;
  border: none;
  margin-bottom: 15px;
}

   
.checkout {
  margin: 130px auto;
  position: relative;
  padding: 160px 45px 0px;
}

.checkout .credit-card-box {
  width: 400px;
  height: 280px;
  position: absolute;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
}

.credit-card-box:hover .flip,
.credit-card-box.hover .flip {
    transform: rotateY(180deg);
}

.front,
.back {
  width: 400px;
  height: 250px;
  border-radius: 15px;
  backface-visibility: hidden;
  background: linear-gradient(to right, #8a00ff, #6E01FF);
  position: absolute;
  color: #fff;
  font-family: Roboto;
  top: 0;
  left: 0;
  text-shadow: 0 1px 1px hsla(0, 0, 0, 0.3);
  box-shadow: 0 1px 6px hsla(0, 0, 0, 0.3);
}

.back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
  background-size: cover;
  opacity: .05;
}

.front::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
  background-size: cover;
  opacity: .05;
}
  
.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.logo-cc {
  position: absolute;
  top: 9px;
  right: 20px;
  width: 60px;
}

svg {
  width: 100%;
  height: auto;
  fill: #fff;
}
  
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.logo-cc {
  top: 185px;
}

.chip {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 20px;
  left: 20px;
  background: linear-gradient(135deg, hsl(269,54%,87%) 0%,hsl(200,64%,89%) 44%,hsl(18,55%,94%) 100%);;
  border-radius: 8px;
}

.chip::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 4px solid hsla(0, 0, 50, .1);
  width: 80%;
  height: 70%;
  border-radius: 5px;
}
  

.strip {
  background: linear-gradient(135deg, hsl(0, 0, 25%), hsl(0, 0, 10%));
  position: absolute;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 0;
}

.number {
  position: absolute;
  margin: 0 auto;
  top: 110px;
  left: 19px;
  font-size: 24px;
}

.number2 {
  position: absolute;
  margin: 0 auto;
  top: 110px;
  left: 90px;
  font-size: 24px;
}

.number3 {
  position: absolute;
  margin: 0 auto;
  top: 110px;
  left: 160px;
  font-size: 24px;
}

.number4 {
  position: absolute;
  margin: 0 auto;
  top: 110px;
  left: 230px;
  font-size: 24px;
}

.card-holder label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
  color: white;
}

.card-expiration-date label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
  color: white;
}

.ccv label {
  font-size: 10px;
  letter-spacing: 1px;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 3px;
  margin-left: -30px;
  color: white;
}

.card-holder,
.card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 180px;
  left: 19px;
  font-size: 19px;
  text-transform: capitalize;
}

.card-expiration-date {
  text-align: right;
  left: auto;
  right: 20px;
}

.card-expiration-date div {
  display: inline-block;
}


.ccv {
  height: 36px;
  background: #fff;
  width: 91%;
  border-radius: 5px;
  top: 110px;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 10px;
}

.ccv div {
  margin-top: 22px;
  font-size: 17px;
}