.header-faqs h4 {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.3px;
    line-height: 1.5em;
    margin: 0;
    color: white;
    width: 100px;
    display: inline-block;
}

.question h2 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.5em;
    margin: 0;
}

hr {
	background: #e9e9e9;
    border: 0;
    height: 1px;
    margin: 0;
}

.question p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 1.5em;
    margin: 8px 0 0 0;
}


.faqs {
	bottom: 0;
	right: 24px;
	position: fixed;
    width: 300px;
    transition: transform 0.33s ease;
    transform: translateY(0);
}

.faqs-closed {
    bottom: 0;
	right: 24px;
	position: fixed;
    width: 300px;
    transition: transform 0.33s ease;
    transform: translateY(270px);
}

.header-faqs {
	background: #6d02fd;
	border-radius: 7px 7px 0 0;
	cursor: pointer;
	padding: 16px 24px;
}

.faqs .header-faqs img {
    width: 15px;
    display: inline-block;
    padding: 0 0 0 135px;
    position: relative;
    top: 4px;
    transition: transform 0.33s ease;
    transform: rotate(0);
}

.faqs-closed .header-faqs img {
    width: 15px;
    display: inline-block;
    padding: 0 0 0 135px;
    position: relative;
    top: 4px;
    left: 135px;
    transition: transform 0.33s ease;
    transform: rotate(180deg);
}

.faqs-content {
	background: #fff;
}

.questions {
	height: 252px;
	padding: 8px 24px;
	overflow-y: scroll;
}

.question {
	margin: 16px 0;
}

