.target-card {
    border-radius: 7px;
    margin: 100px auto 30px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 38px;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}

.target-card button {
    background: #6E01FF;
    width: 200px;
    padding: 1em;
    border-radius: 7px;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    margin-top: 0;
}


.target-card button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.target-card button:focus {
    outline: none;
}

.target-card button a{
    font-size: 1em;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.target-card h1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
    text-align: center;
}

.upload-photo {
    justify-self: center;
    margin-bottom: 70px;
    margin-top: 20px;
}

.upload-photo img {
    border-radius: 50%;
    float: left;
    width: 80px;
    margin-right: 20px;
}

.upload-photo input {
    margin-top: 30px;
}

.form-file-card {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

.form-file-card fieldset {
    border: none;
}

.form-file-card fieldset label[for=email], label[for=password], label[for=name], label[for=lastname1], label[for=lastname2], label[for=gender], label[for=code], label[for=phone], label[for=repeat-password], label[for=community], label[for=province], label[for=datebirth], label[for=team], label[for=height], label[for=demarcation], label[for=weight], label[for=leg]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    display: block;
    width: 400px;
    margin-bottom: 10px;
}

.form-file-card fieldset input[type=text], input[type=password], input[type=email]   {
    width: 400px;
    padding: 1em;
    border-radius: 5em;
    background-color: #F8F8FB;
    border: none;
}

.form-file-card select {
    width: 420px;
    border-radius: 5em;
    background-color: #F9F9F9;
    border: none;
}

label[for=terms]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px; 
    margin-bottom: 10px;
}

input:focus {
    box-shadow: 0 0 4pt 2pt rgba(110, 1, 255, 0.12);
    outline: none;
}

select:focus {
    outline: none;
}

.enter {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
}

.enter button {
    margin-bottom: 20px;
    text-align: center;
}


.enter a {
    display: block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.container {
    margin-top: 20px;
}

.switch {
    display: inline-block;
    height: 10px;
    position: relative;
    width: 26px;  
    top: 2.5px;
    margin-right: 10px;
}
  
.switch input {
    display:none;
}
  
.slider {
    background-color: lightgrey;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #6E01FF;
    bottom: -2px;
    content: "";
    height: 15px;
    position: absolute;
    transition: .4s;
    width: 15px;
}
  
input:checked + .slider {
    background-color: #6E01FF;
}
  
input:checked + .slider:before {
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#form-lastname2-file-card {
    margin-bottom: 50px;
}

#form-datebirth-file-card {
    margin-bottom: 50px;
}

#form-province-file-card {
    margin-bottom: 50px;
}

#form-weight-file-card {
    margin-bottom: 50px;
}

