.video {
    margin-top: 50px;
    width:100vw; 
    height:750px;
    display:inline-block;
    position: relative;
    overflow: hidden;
    z-index: -1000;
}


#video_background {
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 100%; */
    min-width: 100%; 
    height: auto;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -2000;
}

.video h1 {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 120px;
    display: block;
    margin-left: 25px;
    width: 730px;
    color: white;
    margin-top: 350px;
    margin-bottom: 0;
}

.video p {
    margin-top: 30px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    margin-left: 35px;
    width: 700px;
    color: white;
    line-height: 24px;
}

.button-about {
    background: #6E01FF;
    width: 180px;
    padding: 1em;
    margin-top: 2em;
    border-radius: 7px;
    border: none;
    display: block;
    margin-left: 35px;
    margin-bottom: 20px;
}

.button-about a {
    font-size: 1em;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.arrow {
    width: 100vw;
}
.arrow img {
    width: 25px;
    margin: 0 auto;
    display: block;
}

.arrow small {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    margin-top: 30px;
}

.target {
    border-radius: 7px;
    margin: 80px auto 30px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-template-rows: 40px 1fr 20px;
    justify-content: space-around;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}

.description {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
}

.description h1 {
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
}

.homepage-father {
    background-image: url(../assets/img/card-promise.jpg);
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    width: 220px;
    padding: 20px 10px;
    color: white;
    margin: 0 15px;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    transition-delay: 0.15s;
    border-radius: 7px;
}

.homepage-father:hover{
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.homepage-father h1 {
    margin: 0 0 50px 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.homepage-scout {
    background-image: url(../assets/img/card-scout.jpg);
    background-size: cover;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    width: 220px;
    padding: 20px 10px;
    color: white;
    margin: 0 15px;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    transition-delay: 0.15s;
    border-radius: 7px;
}

.homepage-scout:hover{
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.homepage-scout h1 {
    margin: 0 0 50px 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.homepage-assistant {
    background-image: url(../assets/img/card-assistant.jpg);
    background-size: cover;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    width: 220px;
    padding: 20px 10px;
    color: white;
    margin: 0 15px;
    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.3), 0 55px 50px -35px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    transition-delay: 0.15s;
    border-radius: 7px;
}

.homepage-assistant:hover{
    box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.homepage-assistant h1 {
    margin: 0 0 50px 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.target h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 20px;
}

.homepage-scout h2 {
    margin-bottom: 60px;
}

.homepage-assistant h2 {
    margin-bottom: 100px;
}

.target p {
    width: 200px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border-top: 1px dotted rgba(255, 255, 255, .4);
    padding-top: 10px;
    margin-left: 10px;
}

.target button {
    margin-bottom: 20px;
    background: #6E01FF;
    width: 80%;
    padding: 1em;
    margin-top: 2em;
    border-radius: 7px;
    border: none;
}

.target button:focus {
    outline: none;
}

.target button a{
    font-size: 1em;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.account {
    grid-column: 1/-1;
    grid-row: 3;
    text-align: center;
}

.account a{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
