.target-payment {
    border-radius: 7px;
    margin: 100px auto 30px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 580px 38px 38px;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}

.target-payment button {
    background: #6E01FF;
    width: 200px;
    padding: 1em;
    border-radius: 7px;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    margin-top: 0;
}

.target-payment button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.target-payment button:focus {
    outline: none;
}

.target-payment button a{
    font-size: 1em;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.target-payment h1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
    text-align: center;
}


.payment {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    width: 450px;
}

.container {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.enter {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
}

.enter button {
    margin-bottom: 20px;
    text-align: center;
}


.enter a {
    display: block;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
}


label[for=terms]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px; 
    margin-bottom: 10px;
}

fieldset {
    border: none;
}

.switch {
    display: inline-block;
    height: 10px;
    position: relative;
    width: 26px;  
    top: 2.5px;
    margin-right: 10px;
}
  
.switch input {
    display:none;
}
  
.slider {
    background-color: lightgrey;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #6E01FF;
    bottom: -2px;
    content: "";
    height: 15px;
    position: absolute;
    transition: .4s;
    width: 15px;
}
  
input:checked + .slider {
    background-color: #6E01FF;
}
  
input:checked + .slider:before {
    transform: translateX(13px);
}


select:focus {
    outline: none;
}

input:focus {
    outline: none;
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}