.target-registration {
    border-radius: 7px;
    margin: 100px auto 30px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 65px 1fr;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}


.target-registration button {
    background: #6E01FF;
    width: 200px;
    padding: 1em;
    border-radius: 7px;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    margin-top: 0;
}

.target-registration button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.target-registration button:focus {
    outline: none;
}

.target-registration button a{
    font-size: 1em;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.target-registration h1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
    text-align: center;
    display: block;
}

.target-registration small {
    grid-column: 1;
    grid-row: 1;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    font-size: 10px;
    margin-top: 30px;
    text-align: center;
    color: #575F6B;
}

.target-registration .loguearse {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

.loguearse {
    margin-top: 10px;
}

.target-registration .loguearse button:nth-child(1) {
    margin-right: 20px;
    background: #CF4332;
}

.target-registration .loguearse button:nth-child(2) {
    background: #3C66C4;
}

.target-registration form {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.form-registration fieldset {
    border: none;
}

.form-registration fieldset label[for=email], label[for=password], label[for=name], label[for=lastname1], label[for=lastname2], label[for=gender], label[for=code], label[for=phone], label[for=repeat-password], label[for=club]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    display: block;
    width: 400px;
    margin-bottom: 10px;
}

.form-registration fieldset input[type=text], input[type=password], input[type=email]   {
    width: 400px;
    padding: 1em;
    border-radius: 5em;
    background-color: #F8F8FB;
    border: none;
}

.target-registration input:focus {
    box-shadow: 0 0 4pt 2pt rgba(110, 1, 255, 0.12);
    outline: none;
}

.form-registration select {
    width: 420px;
    border-radius: 5em;
    background-color: #F9F9F9;
    border: none;
}

label[for=terms]{
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px; 
    margin-bottom: 10px;
}

#button-enter-login {
    display: block;
    margin: 15px auto 0 auto;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.switch {
    display: inline-block;
    height: 10px;
    position: relative;
    width: 26px;  
    top: 2.5px;
    margin-right: 10px;
}
  
.switch input {
    display:none;
}
  
.slider {
    background-color: lightgrey;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
  
.slider:before {
    background-color: #6E01FF;
    bottom: -2px;
    content: "";
    height: 15px;
    position: absolute;
    transition: .4s;
    width: 15px;
}
  
input:checked + .slider {
    background-color: #6E01FF;
}
  
input:checked + .slider:before {
    transform: translateX(13px);
}


select:focus {
    outline: none;
    box-shadow: 0 0 4pt 2pt rgba(110, 1, 255, 0.12);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

#form-lastname2-register-father {
    margin-bottom: 50px;
}

#form-phone-register-father {
    margin-bottom: 50px;
}


#form-lastname2-register-assistant {
    margin-bottom: 50px;
}

#form-phone-register-assistant {
    margin-bottom: 50px;
}

#form-lastname2-register-scout {
    margin-bottom: 50px;
}

#form-phone-register-scout {
    margin-bottom: 50px;
}

#form-club-register-scout {
    margin-bottom: 50px;
}

#form-type-register-father {
    display: none;
}

.errorMessage {
    display: block;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    color: #BF2D0A;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 150px;
    text-decoration: none;
    width: 100%;
}

.target-card .error {
    box-shadow: 0 0 4pt 2pt rgba(191, 45, 10, 0.10);
}

.target-registration .error {
    box-shadow: 0 0 4pt 2pt rgba(191, 45, 10, 0.10);
}

.target-login .error {
    box-shadow: 0 0 4pt 2pt rgba(191, 45, 10, 0.10);
}
