.target-t-a-c {
    border-radius: 7px;
    margin: 100px auto 32px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}

.target-t-a-c h1{
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
    text-align: center;
}

.paragraphs {
    grid-column: 1;
    grid-row: 2;
    margin-top: 0;
}

.paragraphs h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 24px;
}

.paragraphs p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 24px;
}

.p {
    margin-top: 35px;
}

.paragraphs li {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .2px;
    line-height: 24px;
}

.target-t-a-c img {
    height: 300px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.paragraphs button a{
    font-size: 11px;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.paragraphs button {
    background: #FFAB00;
    width: 100%;
    padding: 1em;
    border-radius: 7px;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    margin-top: 20px;
    margin-bottom: 15px;
}

.paragraphs button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.paragraphs button:focus {
    outline: none;
}