.target-upload {
    border-radius: 7px;
    margin: 100px auto 30px auto;
    padding: 60px;
    background-color: white;
    width: 600px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr ;
    gap: 15px;
    /* Para más pequeño quitar el gap y hacerlos más pequeños */
}


.target-upload button {
    background: #6E01FF;
    width: 200px;
    padding: 1em;
    border-radius: 7px;
    border: none;
    box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s, transform 0.3s;
    margin-top: 0;
}

.target-upload button:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
}

.target-upload button:focus {
    outline: none;
}

.target-upload button {
    font-size: 11px;
    text-decoration: none;
    color: white;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.target-upload h1 {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 1.2rem;
    text-align: center;
    display: block;
}

#form-video {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}

#img-upload {
    height: 250px;
    /* grid-column: 1;
    grid-row: 2; */
    margin: 0 auto;
    padding: 30px 0;
}

.upload {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
}

.upload label {
    font-size: 11px;
    text-decoration: none;
    color: black;   
    font-family: Roboto, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    display: block;
    width: 400px;
    margin-bottom: 10px;
}

.upload input[type="file"]{
    margin-bottom: 30px;
}

.upload input[type="text"] {
    width: 400px;
    padding: 1em;
    border-radius: 5em;
    background-color: #F8F8FB;
    border: none;
    margin-bottom: 20px;
}

.target-upload input:focus {
    box-shadow: 0 0 4pt 2pt rgba(110, 1, 255, 0.12);
    outline: none;

}

.upload textarea {
    width: 415px;
    height: 70px;
    border-radius: 7px;
    background-color: #F8F8FB;
    border: none;
    padding: 8px;
}

.upload textarea:focus {
    box-shadow: 0 0 4pt 2pt rgba(110, 1, 255, 0.12);
    outline: none;
}

.upload button {
    display: block;
    margin: 20px auto 0 auto;
}

#upload-meta {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    /* color: #9C9C9C; */
    color: #606060;
    text-align: center;
    display: block;
    margin-top: 25px;
}